/* app/globals.css */

:root {
  /* Paleta de Cores Corporativa */
  --cor-azul-escuro: #2F4A6E;
  --cor-azul-claro: #4A90E2;
  --cor-cinza-claro: #F5F5F5;
  --cor-branco: #FFFFFF;
  --cor-cinza-escuro: #666666;
  --cor-verde: #3D6B35;
  --cor-vermelho: #FF4D4F;
  --cor-amarelo: #FFC640;
  --header-height: 3rem; /* AJUSTADO: Nova altura do Header (era 4rem) */

  /* Tipografia Base */
  --font-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans-serif);
}

body {
  color: var(--cor-cinza-escuro);
  background: var(--cor-branco);
}

a {
  color: inherit;
  text-decoration: none;
}